.badge{
    background-color: tomato;
    width:18px;
    height:18px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: white;
    font-size:small;
    font-weight: 400;
    
}
.badge-sm{
    background-color: tomato;
    width:5px;
    height:5px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 2.5px;
    color: white;
    font-size:small;
    font-weight: 400;
}
.exclamation-mark{
    font-size:10px;
    display: block;
    border:1px solid tomato;
    color:tomato;
    width:10px;
    height:10px;
    border-radius: 5px;
    text-align: center;
    margin-left:5px;
}