.screen-header{
    
    display:flex;
    justify-content: space-between;
    padding:var(--horizontal);
    align-items: center;
    margin-bottom: 10px;
}
.screen-header__title{
    font-weight: 600;
    font-size:20px;
    
}
.screen-header__icons span{
  margin-left: 15px;
}
.screen-header__icons i{
  font-size: 15px;
}

.screen-header__dot{
  position:relative;
}
.screen-header__notification{
  position:absolute;
  bottom:20px;
  left:20px;
}

@keyframes rotate-cog{
  from{
    transform: none;
  }
  to{
    transform:rotateZ(360deg);
  }
 
}


.screen-header__icons .fa-cog:hover{
  will-change: transform;
animation: rotate-cog 1s linear infinite;
}