#friends-display__link{
    background-color: rgba(0,0,0,0.05);
    width:100%;
    display:block;
    text-align: center;
    padding: 15px 0px;
    font-size: 15px;
    margin-bottom:10px;
    margin-top:-10px;
    
}
#friends-display__link i{
    color: rgba(0,0,0,0.3);
    margin-left:4px;
}
.user-component__main{
    padding: 0px var(--horizontal);
    margin-bottom: 15px;
}

.friends-screen__channel{
    margin-top:25px;
    border-top:var(--main-border);
    padding-top:15px;
}

.friends-screen__channel-header{
    display: flex;
    justify-content: space-between;
    margin-bottom:30px;
    color:rgba(0,0,0,0.5);
}

.user-component__text-sm{
    font-weight: 100;   
}

@keyframes hidesplashscreen{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
        visibility: hidden;
    }
}


#splash-screen{
    background-color: gold;
    width:100vw;
    height:100vh;
    position:absolute;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:65px;
    animation: hidesplashscreen 1s ease-in-out forwards;
    animation-delay: 1s;
}